
form.form-horizontal.add-pc(ng-controller="AddPCController")
    .row
        .col.md-3.col-md-offset-1
            h2.title Add your configuration
            .form-group.col-md-6
                div(ng-repeat="type in hardwareTypes")
                    input.form-control(type="text" placeholder="{{type.name}}" ng-model="pc.props[type.id]" uib-typeahead="item.name for item in parts[type.id]" typeahead-on-select="componentPreview.img.setUrl($item.img)")
                //input.form-control(type="text" placeholder="Processor" ng-model="pc.props.processor"  typeahead-on-select="componentPreview.img.setUrl($item.img)" uib-typeahead="processor.name for processor in processors")
                //input.form-control(type="text" placeholder="Video Card" ng-model="pc.props.vga" typeahead-on-select="componentPreview.img.setUrl($item.img)" uib-typeahead="vga.name for vga in vgas")
                //input.form-control(type="text" placeholder="Memory" ng-model="pc.props.memory" typeahead-on-select="componentPreview.img.setUrl($item.img)" uib-typeahead="memory.name for memory in memories")
                //input.form-control(type="text" placeholder="HDD" ng-model="pc.props.hdd"  typeahead-on-select="componentPreview.img.setUrl($item.img)" uib-typeahead="hdd.name for hdd in hdds")
                //input.form-control(type="text" placeholder="Power supply" ng-model="pc.props.powerSupply" typeahead-on-select="componentPreview.img.setUrl($item.img)" uib-typeahead="powerSupply.name for powerSupply in powerSupplies")

        .col-md-offset-1.col-md-4
            .form-group
                a.thumbnail(href="{{componentPreview.img.url}}")
                    img(ng-src="{{componentPreview.img.url}}" alt="123123")
    .row
        .col-md-offset-2
            .form-group
                button.btn.btn-default.add-pc-buttons(ng-click="save()") Add
                button.btn.btn-default.add-pc-buttons(ng-click="reset(form)") Reset