//Created by D on 10.4.2016 ã..

div(ng-controller="AvatarUploadCtrl" nv-file-drop="" uploader="uploader")
    input(type="file" nv-file-select="" uploader="uploader")
    input.btn.btn-default(type="button" ng-click="uploader.uploadAll()" value="Upload avatar")
