//Created by D on 4.3.2016 ã..
div(ng-controller="HWChartCtrl")
    .row
        .col-md-3
            .panel.panel-default
                .panel-heading
                    p.panel-title Charts Menu
                .panel-body
                    .panel
                        ul.list-group
                            li.list-group-item(ng-repeat="part in parts")
                                .checkbox
                                    label
                                        input(type="checkbox" ng-click="loadChartInfoByType(part._id, part.id)" id="{{part.id}}" ng-model="show[part.id]")
                                        | {{part.name}}
        .col-md-9
            .col-md-6(ng-repeat="part in parts" ng-show="show[part.id]")
                .panel.panel-default
                    .panel-heading
                        p.panel-title {{part.name}}
                    .panel-body
                        canvas#pie.chart.chart-pie(chart-data="chart[part.id].data" chart-labels="chart[part.id].labels")
