// Created by D on 27.3.2016 ã..
.row
    .col-md-6
        .panel.panel-default
            .panel-heading
                .panel-title Edit Profile
            .panel-body
                form.form-horizontal
                    //basic profile information
                    //change profile picture


