// Created by D on 15.3.2016 ã..

div(ng-controller="ImageUploadCtrl" nv-file-drop="" uploader="uploader")
    div(ng-show="uploader.isHTML5")
        .well.my-drop-zone(nv-file-over="" uploader="uploader")
            | Drop zone

        button.btn.btn-success(type="button" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length")
            span.glyphicon.glyphicon-upload Upload
