//
   Created by D on 11.2.2016 ã..
.navbar.navbar-inverse.navbar-fixed-top
   .container
      .navbar-header
               a.navbar-brand(href="/") PC4Games
      div(ng-include="'/partials/account/login-navbar'")


